{% extends 'canal/base.html' %}

{% block content %}
<main class="container">
    <div class="starter-template text-center py-5 px-3">
        <br>
        <h1>Can Trace Bitwise</h1>
        <p>Trying to get bitwise plotting to work</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Message ID (hex) <input type="text" name="message_id"><br>
            Instructions <input type="text" name="instructions"><br>
            <input type="file" name="ascfile" accept=".asc">
            <button type="submit"> Upload File</button>
        </form>
    </div>

{% for div in divs %}
    <div class="text-center">{{ div | safe }}</div>
{% endfor %}
</main>


{% for script in scripts %}
{{ script | safe }}
{% endfor %}


{% endblock content %}

